.Admins{
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    div{
        &:nth-child(1){
            width: 90%;

        }
        &:nth-child(2){
            width: 20%;

        }

    }
}